@font-face {
  font-family: "OktaNeue-Regular";
  src: url("/fonts/OktaNeue-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl-Bold";
  src: url("/fonts/SuisseIntl-Bold.otf") format("opentype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
